openapi: 3.1.0
info:
  title: Geppetto Help Desk KB GitHub Read Only
  version: 0.4.0
  description: Read authorized KB files.
servers:
  - url: https://api.github.com
paths:
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/KB_HELPDESK_SEGRETERIA_MANIFEST.md:
    get:
      operationId: getHelpdeskKbManifest
      description: Get current KB manifest.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  path:
                    type: string
                  sha:
                    type: string
                  size:
                    type: integer
                  encoding:
                    type: string
                  content:
                    type: string
                  download_url:
                    type: string
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/KB_HELPDESK_PROCEDURE__aggiornata_deposito_IT_UIBM.md:
    get:
      operationId: getProcedureKb
      description: Get primary procedure KB.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  path:
                    type: string
                  sha:
                    type: string
                  size:
                    type: integer
                  encoding:
                    type: string
                  content:
                    type: string
                  download_url:
                    type: string
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/NUOVO_MD_ADOTTATO_NORMALIZZATO.md:
    get:
      operationId: getPctPriorityItalyKb
      description: Get PCT procedure KB.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  path:
                    type: string
                  sha:
                    type: string
                  size:
                    type: integer
                  encoding:
                    type: string
                  content:
                    type: string
                  download_url:
                    type: string
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/B3000_consolidated_optimized.md:
    get:
      operationId: getB3000Kb
      description: Get B3000 KB.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  path:
                    type: string
                  sha:
                    type: string
                  size:
                    type: integer
                  encoding:
                    type: string
                  content:
                    type: string
                  download_url:
                    type: string
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/EPAC_entry_consolidated_optimized.md:
    get:
      operationId: getEpacEntryKb
      description: Get EPAC training KB.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  path:
                    type: string
                  sha:
                    type: string
                  size:
                    type: integer
                  encoding:
                    type: string
                  content:
                    type: string
                  download_url:
                    type: string
