openapi: 3.1.0
info:
  title: Geppetto Help Desk KB GitHub Control
  version: 0.4.0
  description: Read KB files and create pending update issues.
servers:
  - url: https://api.github.com
paths:
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/KB_HELPDESK_SEGRETERIA_MANIFEST.md:
    get:
      operationId: getHelpdeskKbManifest
      description: Get current KB manifest.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  path:
                    type: string
                  sha:
                    type: string
                  size:
                    type: integer
                  encoding:
                    type: string
                  content:
                    type: string
                  download_url:
                    type: string
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/KB_HELPDESK_PROCEDURE__aggiornata_deposito_IT_UIBM.md:
    get:
      operationId: getProcedureKb
      description: Get primary procedure KB.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  path:
                    type: string
                  sha:
                    type: string
                  size:
                    type: integer
                  encoding:
                    type: string
                  content:
                    type: string
                  download_url:
                    type: string
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/NUOVO_MD_ADOTTATO_NORMALIZZATO.md:
    get:
      operationId: getPctPriorityItalyKb
      description: Get PCT procedure KB.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  path:
                    type: string
                  sha:
                    type: string
                  size:
                    type: integer
                  encoding:
                    type: string
                  content:
                    type: string
                  download_url:
                    type: string
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/B3000_consolidated_optimized.md:
    get:
      operationId: getB3000Kb
      description: Get B3000 KB.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  path:
                    type: string
                  sha:
                    type: string
                  size:
                    type: integer
                  encoding:
                    type: string
                  content:
                    type: string
                  download_url:
                    type: string
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/EPAC_entry_consolidated_optimized.md:
    get:
      operationId: getEpacEntryKb
      description: Get EPAC training KB.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  path:
                    type: string
                  sha:
                    type: string
                  size:
                    type: integer
                  encoding:
                    type: string
                  content:
                    type: string
                  download_url:
                    type: string
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/2026_Intro%20brevetti.md:
    get:
      operationId: getIntroBrevettiKb
      description: Get patents intro KB.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  path:
                    type: string
                  sha:
                    type: string
                  size:
                    type: integer
                  encoding:
                    type: string
                  content:
                    type: string
                  download_url:
                    type: string
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/2026_Intro%20IP.md:
    get:
      operationId: getIntroIpKb
      description: Get IP intro KB.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  path:
                    type: string
                  sha:
                    type: string
                  size:
                    type: integer
                  encoding:
                    type: string
                  content:
                    type: string
                  download_url:
                    type: string
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/Tips%20%26%20tricks%20B2K%20%28anagrafiche%20GDPR%20codici%20pratiche%20preventivi%29-%20Federica%20Prota.md:
    get:
      operationId: getTipsTricksB2kKb
      description: Get B2K tips KB.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  path:
                    type: string
                  sha:
                    type: string
                  size:
                    type: integer
                  encoding:
                    type: string
                  content:
                    type: string
                  download_url:
                    type: string
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/issues:
    post:
      operationId: createKbUpdateRequestIssue
      description: Create a pending KB update request issue.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - body
              properties:
                title:
                  type: string
                  maxLength: 120
                body:
                  type: string
                  maxLength: 8000
                labels:
                  type: array
                  items:
                    type: string
                  default:
                    - kb-update-request
                    - pending-review
      responses:
        '201':
          description: Created issue.
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: integer
                  html_url:
                    type: string
                  title:
                    type: string
                  state:
                    type: string
